<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.rss.suchi">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:name="com.cbi_solar.helper.MyApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/icon_launcher"
        android:label="@string/app_name"
        android:launchMode="singleInstance"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/icon_launcher_round"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/Theme.RSSApplication"
        android:usesCleartextTraffic="true"
        tools:replace="android:icon"
        tools:targetApi="31">
        <activity
            android:name=".activity.ContactUsActivity"
            android:exported="false" />
        <activity
            android:name=".activity.ShakaLisActivity"
            android:exported="false" />
        <activity
            android:name=".activity.ShakaUserListActivity"
            android:exported="false" />
        <activity
            android:name=".activity.AttendanceFormActivity"
            android:exported="false" />
        <activity
            android:name="com.rss.suchi.MainActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activity.SplashScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.SignInActivity"
            android:exported="true" />
        <activity
            android:name=".activity.NotificationListActivity"
            android:exported="true" />
        <activity
            android:name=".activity.ServicesForm"
            android:exported="true" />
        <activity
            android:name=".activity.ShakaUserSearchActivity"
            android:exported="true" />
    </application>

</manifest>